In [1]:
import pandas as pd

In [2]:
dat1=pd.read_excel('ma-japan2.xlsx','Sheet1',index_col=None)
dat2=pd.read_excel('ma-japan3.xlsx','Sheet1',index_col=None)
dat3=pd.read_excel('ma-japan4.xlsx','Sheet1',index_col=None)
dat4=pd.read_excel('ma-japan5.xlsx','Sheet1',index_col=None)

In [3]:
dat1.columns

Index(['発表日', 'ﾀｰｹﾞｯﾄ会社名', '買収側の社名', '発表時ﾃﾞｨｰﾙ総額(百万)', '買収側企業 人件費',
       'ﾀｰｹﾞｯﾄ企業 人件費', '買収側企業 12ｶ月売上原価', 'ﾀｰｹﾞｯﾄ企業 12ｶ月売上原価', '買収側企業 原材料',
       'ﾀｰｹﾞｯﾄ企業 原材料', '買収側企業 外国人持株比率', 'ﾀｰｹﾞｯﾄ企業 外国人持株比率',
       'ﾀｰｹﾞｯﾄ企業 販管費･その他営業費用', '買収側企業 SIC名', 'ﾀｰｹﾞｯﾄ企業 SIC名'],
      dtype='object')

In [4]:
dat2.columns

Index(['発表日', 'ﾀｰｹﾞｯﾄ会社名', '買収側の社名', '発表時ﾃﾞｨｰﾙ総額(百万)', '買収側企業 人件費',
       'ﾀｰｹﾞｯﾄ企業 人件費', '買収側企業 12ｶ月売上原価', 'ﾀｰｹﾞｯﾄ企業 12ｶ月売上原価', '買収側企業 原材料',
       'ﾀｰｹﾞｯﾄ企業 原材料', '買収側企業 外国人持株比率', 'ﾀｰｹﾞｯﾄ企業 外国人持株比率',
       'ﾀｰｹﾞｯﾄ企業 販管費･その他営業費用', '買収側企業 SIC名', 'ﾀｰｹﾞｯﾄ企業 SIC名'],
      dtype='object')

In [5]:
dat3.columns

Index(['発表日', 'ﾀｰｹﾞｯﾄ会社名', '買収側の社名', '発表時ﾃﾞｨｰﾙ総額(百万)', '買収側企業 人件費',
       'ﾀｰｹﾞｯﾄ企業 人件費', '買収側企業 12ｶ月売上原価', 'ﾀｰｹﾞｯﾄ企業 12ｶ月売上原価', '買収側企業 原材料',
       'ﾀｰｹﾞｯﾄ企業 原材料', '買収側企業 外国人持株比率', 'ﾀｰｹﾞｯﾄ企業 外国人持株比率',
       'ﾀｰｹﾞｯﾄ企業 販管費･その他営業費用', '買収側企業 SIC名', 'ﾀｰｹﾞｯﾄ企業 SIC名'],
      dtype='object')

In [6]:
dat4.columns

Index(['発表日', 'ﾀｰｹﾞｯﾄ会社名', '買収側の社名', '発表時ﾃﾞｨｰﾙ総額(百万)', '買収側企業 人件費',
       'ﾀｰｹﾞｯﾄ企業 人件費', '買収側企業 12ｶ月売上原価', 'ﾀｰｹﾞｯﾄ企業 12ｶ月売上原価', '買収側企業 原材料',
       'ﾀｰｹﾞｯﾄ企業 原材料', '買収側企業 外国人持株比率', 'ﾀｰｹﾞｯﾄ企業 外国人持株比率',
       'ﾀｰｹﾞｯﾄ企業 販管費･その他営業費用', '買収側企業 SIC名', 'ﾀｰｹﾞｯﾄ企業 SIC名'],
      dtype='object')

In [7]:
dat_ma_jap=pd.concat([dat1,dat2,dat3,dat4])

In [8]:
dat_ma_jap['発表日']=pd.to_datetime(dat_ma_jap['発表日'],format='%m/%d/%Y')
dat_ma_jap=dat_ma_jap.sort_values('発表日').reset_index(drop=True)

In [9]:
dat_ma_jap.to_csv('MA-JAPAN.csv',index=None,encoding='UTF-8')

In [10]:
dat_ma_jap

,発表日,ﾀｰｹﾞｯﾄ会社名,買収側の社名,発表時ﾃﾞｨｰﾙ総額(百万),買収側企業 人件費,ﾀｰｹﾞｯﾄ企業 人件費,買収側企業 12ｶ月売上原価,ﾀｰｹﾞｯﾄ企業 12ｶ月売上原価,買収側企業 原材料,ﾀｰｹﾞｯﾄ企業 原材料,買収側企業 外国人持株比率,ﾀｰｹﾞｯﾄ企業 外国人持株比率,ﾀｰｹﾞｯﾄ企業 販管費･その他営業費用,買収側企業 SIC名,ﾀｰｹﾞｯﾄ企業 SIC名
0,1992-06-29,FLS Holdings Inc,共英製鋼,300.00,28.63890,NaN,2197.52000,NaN,205.027000,NaN,13.600,NaN,NaN,NaN,NaN
1,1992-11-01,SILICON TECHNOLOGY CORP,東京精密,11.34,53.91970,NaN,638.92700,NaN,74.134300,NaN,28.310,NaN,NaN,NaN,NaN
2,1993-02-08,3 NORTH SEA FIELDS,伊藤忠商事,106.00,5555.56000,NaN,87706.30000,NaN,491.809000,NaN,35.420,NaN,NaN,METAL SVC CNTR,NaN
3,1993-02-08,Goldtex Inc,トーメン,15.70,NaN,NaN,14458.40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-03-19,日本海汽船,商船三井,171.96,48.92960,NaN,9277.14000,NaN,253.124000,NaN,27.820,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15008,2021-10-18,東京ｵﾍﾟﾗｼﾃｨﾋﾞﾙ,ＮＴＴ都市開発リート投資法人,192.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15009,2021-10-20,長野セントラルビル,Unnamed Buyer,6.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15010,2021-10-21,ヴィビットインタラクティヴ,シャノン,1.01,4.93431,NaN,6.80733,NaN,NaN,NaN,6.150,NaN,NaN,NaN,NaN
15011,2021-11-10,"新時代 白子駅前店,新時代 大垣駅前店,新時代 津駅前店,新時代 アスティ岐阜店,新時代 太...",海帆,1.03,4.14297,NaN,2.10457,NaN,0.100280,NaN,0.550,NaN,NaN,DRINKING PLACE,NaN
15012,2021-11-11,産業用太陽光発電事業,Ａｂａｌａｎｃｅ,1.48,6.71565,NaN,207.68700,NaN,0.045009,NaN,2.415,NaN,NaN,NaN,NaN

In [11]:
dat_ma_jap.dtypes

発表日                     datetime64[ns]
ﾀｰｹﾞｯﾄ会社名                       object
買収側の社名                          object
発表時ﾃﾞｨｰﾙ総額(百万)                 float64
買収側企業 人件費                      float64
ﾀｰｹﾞｯﾄ企業 人件費                   float64
買収側企業 12ｶ月売上原価                 float64
ﾀｰｹﾞｯﾄ企業 12ｶ月売上原価              float64
買収側企業 原材料                      float64
ﾀｰｹﾞｯﾄ企業 原材料                   float64
買収側企業 外国人持株比率                  float64
ﾀｰｹﾞｯﾄ企業 外国人持株比率               float64
ﾀｰｹﾞｯﾄ企業 販管費･その他営業費用           float64
買収側企業 SIC名                      object
ﾀｰｹﾞｯﾄ企業 SIC名                   object
dtype: object